:root {
    --white: #ffffff;
    --light: #8FC1B5;

    --map-you: #3c7bda;
}
* {
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    margin: 0px;
    padding: 0px;
}
h1 {
    margin: 0px;
}
.header {
    background-color: var(--light);
    margin: 0px;
    padding: 25px;
    border-radius: 0px 0px 51px 51px;
    color: var(--white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
html {
    margin: 0px;
    padding: 0px;
}
button {
    padding: 2vh;
    padding-inline: 5vw;
    font-size: x-large;
    border: none;
    border-radius: 100px;
    margin-inline: 5px;
}
.invisible_link {
    text-decoration: none;
}
input {
    outline: none;
    border: 1px solid var(--light);
    border-radius: 100px;
    padding: 15px;
    margin: 5px;
}
.marker-class {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: var(--map-you);
}